<section>
  <div class="light-blue contacts">
    <h2 class="white-text">Contact Me</h2>
    <ul>
      <li class="white-text">newyork.anthonyng@gmail.com</li>
      <li><a href="https://github.com/newyork-anthonyng"
             target="_blank">Github</a>
      </li>
      <li><a href="https://www.linkedin.com/in/anthony-ng-02856056"
           target="_blank">Linkedin</a>
      </li>
    </ul>
  </div>
</section>
