<section>
  <div class="light-blue header">
    <h1 class="white-text">Hey, I'm Anthony</h1>
      <p class="header-text white-text">I'm an aspiring web developer who loves</p>
      <p class="header-text white-text">
        <span class="amber-text" id="developing-text">developing</span>&nbsp; and &nbsp;
        <span class="amber-text" id="designing-text">designing</span>
      </p>
      <p class="header-text white-text">useful and practical web applications.</p>
    </div>
  </div>
</section>

<section class="parallaxParent" style="background-image: url(/assets/background-1.png)"></section>
