<div class="jumbotron" id="header">
  <div class="container">
    <h1 class="text">Hey, I'm Anthony</h1>
    <br>
    <div class="col-sm-6 col-sm-offset-3">
      <p>I'm an aspiring web developer who loves</p>
      <p id="description">developing and designing</p>
      <p>useful and practical web applications.</p>
      </p>
    </div>
  </div>
</div>
