<section>
  <div class="light-blue projects">
    <h1 class="center-align white-text">Recent Projects</h1>
    <ul class="text">
      <%= render partial: "project_post" %>
      <%= link_to "(More Projects...)", projects_path %>
    </ul>
  </div>
</section>

<section class="parallaxParent" id="background-3"></section>
