<div class="skills">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="title">Skills</h2>
      <hr>
      <div class="container">
        <div class="col-sm-3 text">
          JavaScript<br>
          Ruby<br>
          Rails<br>
          PostgreSQL<br>
        </div>
        <div class="col-sm-3 text">
          MongoDB<br>
          Express<br>
          Angular<br>
          Node.js<br>
        </div>
        <div class="col-sm-3 text">
          HTML<br>
          CSS<br>
          jQuery<br>
        </div>
      </div>
    </div>
  </div>
</div>
