<section>
  <div class="light-blue skills">
    <h1 class="right-align white-text">Skills</h1>

    <div class="row white-text">
      <div class="col s3">
        <!-- <img src="/assets/sketch.png"></img> -->
        <img src=<%= asset_path('sketch.png') %>></img>
      </div>
      <div class="col s3">
        JavaScript<br>
        Ruby<br>
        Rails<br>
        PostgreSQL<br>
      </div>
      <div class="col s3">
        MongoDB<br>
        Express<br>
        Angular<br>
        Node.js<br>
      </div>
      <div class="col s3">
        HTML<br>
        CSS<br>
        jQuery<br>
      </div>
    </div>
  </div>
</section>

<section class="parallaxParent" id="background-2"></section>
