<div class="jumbotron" id="header">
  <div class="container">
    <h1 class="title">Hey, I'm Anthony</h1>
    <br>
    <div class="col-sm-6 col-sm-offset-3">
      <p>
      I'm an aspiring web developer who likes creating and designing useful and
      practical web applications.
      </p>
    </div>
  </div>
</div>

<div class="skills">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="title">Skills</h2>
      <hr>
      <div class="container">
        <div class="col-sm-3 text">
          HTML<br>
          CSS<br>
          JavaScript<br>
        </div>
        <div class="col-sm-3 text">
          Ruby<br>
          Rails<br>
          Node.js<br>
        </div>
        <div class="col-sm-3 text">
          Express<br>
        </div>
      </div>
    </div>
</div>
</div>

<div class="projects">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="title">Recent Projects</h2>
      <hr>
      <ul class="text">
        <% @project_posts.each do |project| %>
          <li>
            <%= project.title %> |
            <%= project.description %><br>
            <a href="<%= project.project_url %>" target="_blank" %>Link to Project</a>
            <% if project.blog_url != "" %>
              | <a href="<%= project.blog_url %>" target="_blank">Link to Blog</a>
            <% end %>
          </li>
          <br>
        <% end %>
        <a href="#">(More Projects...)</a>
      </ul>
    </div>
  </div>
</div>

<div class="contacts">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="title">Contact Me</h2>
      <hr>
      <ul class="text">
        <li>newyork.anthonyng@gmail.com</li>
        <li><a href="https://github.com/newyork-anthonyng"
               target="_blank">Github</a>
        </li>
        <li><a href="https://www.linkedin.com/in/anthony-ng-02856056"
               target="_blank">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
</div>
