<h1>My Miscellaneous</h1>

<ul>
  <% @misc_posts.each do |post| %>
    <li><%= "#{post.title} | #{post.description}" %> |
      <a href="<%= post.project_url %>" target="_blank">Link</a>
    </li>
  <% end %>
</ul>

<%= link_to "<< Back", "/" %>
