<% @title = "Anthony Ng | Projects" %>

<div class="light-blue projects-main">
  <%= link_to "Home", root_path %>
  <h1 class="white-text">Projects</h1>
  <ul>
    <%= render partial: "project_post" %>
  </ul>
</div>
