<% @title = "Anthony Ng | Projects" %>

<br>
<div class="projects">
  <div class="container">
    <div class="col-sm-2">
      <br>
      <%= link_to "Home", root_path %>
    </div>
    <div class="col-sm-8">
      <h2 class="title">Projects</h2>
      <hr>

      <ul class="text">
        <%= render partial: "project_post" %>
      </ul>
    </div>
  </div>
</div>
