<% if @post.errors.any? %>
  <h3><%= pluralize(@post.errors.count, "error") %> found.</h3>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
