#header, #skills, #projects, #contact {
  padding:15px 0px 15px 0px;
}

#header {
  margin-bottom:0px;
  text-align:center;
}

#skills {
}

#projects {
}

#contact {
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size:24px;
}

.text {
  font-family: 'Domine', serif;
  font-size:18px;
}

.skills-icon {
  border:5px solid white;
  border-radius:100%;
}

h1, h2 {
  text-align:center;
}

a {
  color:#4786F1;
}

a:hover {
  color:#4786F1;
  font-weight:bold;
}

ul {
  list-style:none;
}

hr {
  background:#DDD;
  height:2px;
  /*box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);*/
}
