#header {
  background-color:rgba(71,134,241,0.5);
  text-align:center;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size:24px;
}

.text {
  font-family: 'Domine', serif;
  font-size:20px;
}

.projects, .skills, .contacts {
  margin-bottom:80px;
  line-height:2.5em;
}

h1, h2 {
  text-align:center;
}

a {
  color:#4786F1;
  font-family:'Montserrat', sans-serif;
}

a:hover {
  color:#4786F1;
  font-family:'Montserrat', sans-serif;
  font-size:20px;
}

ul {
  list-style:none;
}

hr {
  background:#DDD;
  height:2px;
}
