#header, #skills, #projects, #contact {
  padding:15px 0px 15px 0px;
}

#header {
  background-color:rgba(71,134,241,0.5);
  margin-bottom:0px;
  text-align:center;
}

#skills {
}

#projects {
}

#contact {
}

.jumbotron {
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size:24px;
}

.text {
  font-family: 'Domine', serif;
  font-size:18px;
}

.skills-icon {
  border:5px solid white;
  border-radius:100%;
}

h1, h2 {
  text-align:center;
}

a {
  color:#4786F1;
  font-family:'Montserrat', sans-serif;
}

a:hover {
  color:#4786F1;
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
}

ul {
  list-style:none;
}

hr {
  background:#DDD;
  height:2px;
}

.col-sm-8 {
  padding-left:0px;
}
